<div class="page-content">
	<div class="maps_heading">

		<div>  
		  <div id="map3" style='width: 100%; height: 500px;'></div>  
		</div>  

		<script type="text/javascript">  
			handler = Gmaps.build('Google');  
			handler.buildMap({ 
				provider: {},
				internal: {
					id: 'map3'
				}
			}, 
			function(){  
				markers = handler.addMarkers(<%=raw @business_locations.to_json %>)
			  handler.bounds.extendWith(markers) 
			  handler.fitMapToBounds()
				handler.getMap().setZoom(<%=params[:zoom]%>)
				handler.map.centerOn([44.047770, -121.310920])
			});
		</script>

	</div>

</div>