<div class="page-content">
	<div class="maps_heading">

		<div>  
		  <div id="map" style='width: 100%; height: 500px;'></div>  
		</div>  
		
		<script type="text/javascript">  
			var business_json = <%=raw @business_locations.to_json %>;
	    var handler;
	    var markers = [];

			handler = Gmaps.build('Google');
			handler.buildMap({ 
				provider: {},
				internal: {
					id: 'map'
				}
			}, 
			function(){
        markers = handler.addMarkers(business_json);
        _.each(business_json, function(elt, index){
          _.extend(markers[index], elt);
        });
			  handler.bounds.extendWith(markers) 
			  handler.fitMapToBounds()
				handler.getMap().setZoom(<%=params[:zoom]%>)
				handler.map.centerOn(<%= params[:center] %>)
			});
			
			Gmaps.selectMarker = function(id) {
			  $.each(Gmaps.store.markers, function() {
			    if (this.serviceObject.id == id) {
			      this.panTo();
			      this.serviceObject.setAnimation(google.maps.Animation.BOUNCE);
			    }
			    else this.serviceObject.setAnimation(null);
			  });
			};
			
	    function openMarkerInfo(id) {
				console.log(markers);
				let business = markers.find(o => o.id === id);
				if (business != null) {
					console.log(business);
					google.maps.event.trigger(business.getServiceObject(), 'click')
					scrollToElementId('map');
				} else {
					console.log('not found');
				};
	    };
			
			function scrollToElementId(id) { 
	      var elem = document.getElementById(id); 
	      elem.scrollIntoView(); 
      };
		</script>

	</div>

</div>