<div class="business_heading">
	<h1>New Business:</h1>
</div>

<div class="business_block" >
	<%= form_for(@business) do |form| %>
		<%= render :partial => 'form', :object => form %>
		<div class="form-group row d-flex justify-content-end">
			<%= form.submit "Create", :class => 'btn btn-primary'%>
			<%= form.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
		</div>
	<% end %>
</div>
