<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome, <%= @user.email %></h3>
    <p>
      You can manage your listing at <%= link_to "bulletin.bendbulletin.com", "bulletin.bendbulletin.com" %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>