<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @default_settings_email.email_pretext %></p>
	<p>
		<% if @default_settings_email.show_business_info %>

		<% end %>
	</p>
    <p><%= @default_settings_email.email_posttext %></p>
  </body>
</html>
