<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome, <%= @user.email %></h3>
    <p>
      You have registered a login account with our website and can begin adding your business to our listings. This login allows you to manage all businesses you submit, and have them displayed in our listings on bendbulletin.com.
    </p>
    <p>
      You can manage current listings at <%= link_to "business.bendbulletin.com", "business.bendbulletin.com" %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
		
		The Bulletin
  </body>
</html>
