<tr>
	<td><%= table_row.name %></td>	

	<td class="text-center">
		<div class="btn">
			<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_service_type_path(table_row),
				title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
			<%= link_to icon('trash-o fa-lg'), 
				service_type_path(table_row),
				:method=> :delete, :action => 'destroy',
				data: {confirm:'Delete service type?'},
				title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
		</div>
	</td>
</tr>
