<div id="page-footer" class="">
	<div class="d-flex justify-content-center align-items-center">
	    <div class="align-items-center">
			<strong>Bulletin Business Listings</strong> - &copy; Copyright <%= Date.today.year %> - 
			<a href="https://www.bendbulletin.com">Central Oregon Media Group LLC</a>
		</div>
	</div>
	<div class="d-flex justify-content-around align-items-center">
		<div class="align-items-center">
			<i>

			</i>
		</div>
	</div>
	<br/>
	<br/>
</div>