<div id="header_bar" class="bg-dark">
	<div class="container-fluid">
		<div class="row align-items-end">
			<div class="col d-flex align-items-end">
				<div id="branding" class="float-left">
					<h1>
						<%= link_to businesses_path do %>
							Bulletin <span>- Business Listings</span>
						<% end %>
					</h1>
				</div>
				<% if !current_user.nil? %>
					<div class="">
						<ul class="nav menu-items-bar">
							<% if current_user.admin_role? || current_user.supervisor_role? || current_user.sales_role? %>
								<li class="nav-item">
									<%= link_to "Businesses", businesses_path(:type=>'retail'), :class=>"nav-link menu-item-images" %>
								</li>
								<li class="nav-item">
									<%= link_to "Restaurants", businesses_path(:type=>'restaurant'), :class=>"nav-link menu-item-pages" %>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-2">
				<div class="d-flex align-items-center">
					<%= render 'shared/nav_menu' %>
				</div>
			</div>
		</div>
	</div>
</div>
