<% if flash[:success] %>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= flash[:success].join('<br/>').html_safe %>
	</div>
<% end %>
<% if flash[:notice] %>
	<div class="alert alert-info alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= flash[:notice].join('<br/>').html_safe %>
	</div>
<% end %>
<% if flash[:error] %>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= flash[:error].join('<br/>').html_safe %>
	</div>
<% end %>
<% if flash[:admin_error] and admin? %>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= flash[:admin_error].join('<br/>').html_safe %>
	</div>
<% end %>
<% flash.clear %>

