<div class="home-page-head">
	<img src="<%= asset_path( 'DowntownBend.jpg' ) %>" />
	<div class="banner-wrap">
		<h1>Welcome to The Bulletin's Business Listings</h1>
		<div class="banner-wrap-text">
			This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
		</div>
	</div>
</div>

<div class="home-page-info">
	<div class="text-center">
		This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. 
	</div>
</div>
