/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker3";
@import "bootstrap";


/*** Main custimation ***/
.body_defaults {
	width: 100vw;
	min-width: 400px;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
.indent { text-indent: 50px; }
.max_100 {max-width: 100%; max-height: 100%;}
.btn, .btn-sm { margin-left: 5px; }
.dropdown-menu { padding: 0.5rem 1rem; }
.panel-heading {background: lightgrey;}
.content_block { margin: 0px 10px; min-height: 650px; }
td.image_column { padding: 0.75rem 0px 0.75rem 0 }
.img-thumb {width: 100px; height: auto;}
.business_listing_heading { margin: 20px 0px 10px 0px; }
.business_heading, .business_type_heading, .service_type_heading, .contact_heading, .zone_heading, .award_heading, .user_heading, .default_settings_heading { margin: 20px 5% 10px 5%; }
.business_block, .business_type_block, .business_subtype_block, .service_type_block, .contact_block, .zone_block, .award_block, .user_block, .default_settings_block { margin: 20px 10% 10px 10%; }
.business_index_block {min-height: 500px; margin: 20px 2% 10px 2%;}
#checkout_form { width: 100% }

.field_error_messages { color: red; margin: 0px 30px 10px 30px; }
.search_bar { padding: 0px 20px; }

.contact_block,.award_block { 
	margin: 20px 10% 20px 10%; 
	min-height: 300px; 
	border: 1px solid #33393c;
	padding: 2%;
}
.business_fields {
	background-color: #eeeeee;
    font: 1.0em Arial, Tahoma, sans-serif;
    color: #33393c;
    padding: 10px;
	margin-right: 10px;
}

.business_fields_textarea {
	max-height: 75px;
	overflow: scroll;
}

.dropdown-menu { padding: 0.5rem 1rem; }

@include media-breakpoint-down(xs) {
	.succeed_col { display: none; }
	.colspan_column { display: none; }
	.image_related .form-search-text { display: none; }
	.related_image_block  { display: none; }
	.menu-items-icon-admin { display: none; }
	.menu-items-icon-all { display: block; }
 	.btn-menu { margin-left: 0px; }
}

@include media-breakpoint-down(sm) {
	.menu-item-home { display: none; }
	.menu-items-bar { display: none; }
}

@include media-breakpoint-down(md) {
	.auth_col { display: none; }
}

@include media-breakpoint-up(sm) {
	.mobile_action_row { display: none; } 
	.menu-items-icon-admin { display: block; }
	.menu-items-icon-all { display: none; }
}

/*** Login Logout ***/
.login-box { font: bold 0.8em Arial, Tahoma, sans-serif; color: #fff; }
#login-page { margin: 10px 10%; }
#login-page h1 {
	font: bold italic 2.0em Georgia, "Times New Roman", Times, serif;
	color: #33393c;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 1px 0px;
	border-bottom: 1px solid #33393c;
}

#login-page h1 span {
	font: bold italic 0.5em Georgia, "Times New Roman", Times, serif;
	color: #33393c;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#login-page #page-content {
	background-color: #e6e6d2;
	padding: 20px 10px 10px 10px;
	min-width: 320px;
}

#login-page .inner-box {
	background-color: #fff;
    padding: 1.5957%;
    min-height: 300px;
}

/*** Branding ***/
#branding { padding-right: 25px;}
#branding h1 { }
#branding h1 a {
	font: italic 0.88em Georgia, "Times New Roman", Times, serif;
	color: #fff;
	margin: 0px;
	padding: 0px;
}
#branding h1 a span {
	font: italic 0.88em Georgia, "Times New Roman", Times, serif;
	color: #6da9d2;
}
#branding a:link, #branding a:visited, #branding a:hover, #branding a:active,  { 
    text-decoration:none; 
}
.newspaper_logo { 
	max-height: 40px; 
	@include media-breakpoint-down(sm) { max-height: 30px; }
}
#header_bar { padding: 15px; }

/*** Home Page ***/
.home-page-head {
	text-align: center;
	position: relative;
}
.home-page-head img {
	height: 500px;
	min-height: 500px;
	width: 100%;
	object-fit: cover;
}
.home-page-head .homepage-nav {
	position: absolute;
	top: 1%;
	width: 99%;
	color: #fff;
}
.home-page-head .homepage-wrap {
	position: absolute;
	top: 50%;
	width: 100%;
	background: rgba(0,0,0,.35);
	margin-top: -200px;
	color: #fff;
}
.home-page-head .homepage-wrap h1 {
	color: #fff;
	margin-top: 70px;
	margin-bottom: 40px;
	font-size: calc(100% + 2.4vw);
	text-transform: none;
	width: 100%;
}
.home-page-head .homepage-wrap-text {	margin: 50px 50px; }
.home-page-info {
	margin: 50px 50px;
  text-align: center;
}

/*** Registered Welcome Page ***/
.welcome-block {
	margin: 50px;
}
.welcome-block img { width: 100%;}
.welcome-text{
	padding: 20px;
}

/*** Default Settings ***/
.default_text_field{ height: 150px; overflow: scroll; }

/*** Pagination ***/
.flickr_pagination { text-align: center; padding: 0.3em; cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em { padding: 0.2em 0.5em; }
.flickr_pagination .disabled { color: #fff; }
.flickr_pagination .current { font-style: normal; font-weight: bold; color: black; background-color: #3C8DC5; border-radius: 0.25rem; }
.flickr_pagination a { background-color: #6FB7E9; border: 1px solid #dddddd; color: white; text-decoration: none; border-radius: 0.25rem; }
.flickr_pagination a:hover, .flickr_pagination a:focus { border-color: #3C8DC5; background: #3C8DC5; color: white; }
.flickr_pagination .page_info { color: #aaaaaa; padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page { border-width: 2px; }
/*.flickr_pagination .previous_page { margin-right: 1em; }
.flickr_pagination .next_page { margin-left: 1em; } */

/*** Progress Block ***/
.progress_block {
	margin: 20px 0px;
  height: 80px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc!important;
}
.dot-one, .dot-two, .dot-three, .dot-four {
  position: absolute;
	margin-top: -10px;
	z-index: 1;
	height: 40px;
	width: 40px;
	border-radius: 25px;
}
.dot-one{ left:18%; }
.dot-two{	left:38%; }
.dot-three{	left:58%; }
.dot-four{ left:78%; }
.step-one, .step-two, .step-three, .step-four, .step-five {
  position: absolute;
	margin-top: -40px;
	z-index: 1;
	height: 40px;
	width: 40px;
}
.step-one{ left:10%; }
.step-two{ left:30%; }
.step-three{ left:50%; }
.step-four{ left:70%; }
.step-five{	left:90%; }
.info-color{ background-color:#5bc0de; }
.no-color{ background-color:inherit; }

/*** Table Column ***/
.sorting th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.sorting th .asc::after  {
	position: absolute;
  content: '\f062';
  font-size: 10px;
  font-family: "FontAwesome";
	margin: 5px;
}
.sorting th .desc::after {
	position: absolute;
  content: '\f063';
  font-size: 10px;
  font-family: "FontAwesome";
	margin: 5px;
}
.form-filter-select { width:100%; }
.business_type_block td {padding: 0px;}
.table-borderless td, .table-borderless th { border: 0; }
.table td { vertical-align: middle;}
.table tr.business_active { background-color: lightgreen; }
.black-border { border: 1px solid black; }
.status_key { margin: 50px 0px; }

/*** Maps ***/
#map-canvas {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}
#map-canvas img {max-width: none !important;}
.gm-style-iw {
    width: 350px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px;
}
#iw-container {margin-bottom: 10px;}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 0px 5px 20px 15px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content .img-block {
    height: 80px;
		padding: 5px 0px 10px 0px;
}
.iw-content img { max-width: 100%; max-height: 100%; }
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0px 5px 0px;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
